@import 'fonts.scss';
@import 'normalize.scss';
@import 'mixsins.scss';
@import 'smart-grid.scss';



/*=============================================
      ОБЩИЕ ПРАВИЛА
  ============================================= */

.clearfix {
    @include clearfix;
}

.wrapper {
    @include wrapper;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.375;
    font-family: 'Montserrat', 'sans serif';
}

.hide {
    display: none;
}

.visible {
    display: block;
}

/*============================================= */


/*=============================================
        ШАПКА
============================================= */
.header {
    position: relative;
    padding-top: 50px;
    padding-bottom: 64px;
    background: radial-gradient(84.57% 47.69% at 36.59% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), url(015.jpg), rgba(0, 0, 0, 0.1);
    background-image: url(../img/images/bg-top.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include sm-block {
        padding-top: 30px;
        padding-bottom: 57px;
        text-align: center;
    }

    .wrapper {
        .topLine {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 233px;

            @include md-block {
                margin-bottom: 150px;
            }

            @include sm-block {
                margin-bottom: 303px;
            }

            &__btn {
                display: flex;
                align-items: center;
                padding: 13px 22px;
                border: 1.5px solid rgba(255, 255, 255, .2);
                background: transparent;
                border-radius: 12px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 160%;
                color: #FFFFFF;
                cursor: pointer;

                @include md-block {
                    display: none;
                    ;
                }

                &:hover {
                    border: 1.5px solid rgba(255, 255, 255, .8);
                }

                svg {
                    width: 15px;
                    height: 18px;
                    margin-right: 8px;
                    fill: #FFFFFF;
                }
            }
        }

        h1 {
            max-width: 1002px;
            margin-bottom: 53px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 3.125vw;
            line-height: 130%;
            color: #FFFFFF;

            @include md-block {
                font-size: 32px;
            }

            @include sm-block {
                margin-bottom: 214px;
            }

            @include xs-block {
                margin-bottom: 24px;
                font-size: 28px;
            }

            span {
                font-weight: 600;
            }
        }
    }
}

.header__burger {
    z-index: 101;

    @include llg-block {
        display: block;
    }
}

.burger {
    @include gamburger(28px, 10px, 28px, 2px, 6px, #FFFFFF, transparent);
}

.logo {
    width: 298px;
    z-index: 102;

    @include xs-block {
        width: 162px;
    }

    .logo__img {
        display: block;
        width: 100%;
    }
}

.nav {
    @include llg-block {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        z-index: 100;
        margin-left: 101%;
        transition: all ease 0.8s;
    }

    .nav__list {
        list-style-type: none;
        display: flex;

        @include llg-block {
            display: block;
            padding-left: 100px;
            text-align: left;
            height: 100vh;
            padding-top: 130px;
            background: #8D8A8A;
        }

        li {

            a {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 1.3;
                color: #FFFFFF;
                transition: all ease 0.5s;

                @include llg-block {
                    font-size: 26px;
                    line-height: 1.7;
                    text-transform: uppercase;
                }

                &:hover {
                    color: #FFCC00;
                }
            }
        }
    }
}

.btnBase {
    padding: 15px 38px;
    text-align: center;
    background: #FFCC00;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: #000000;
    }

    &:hover {
        box-shadow: 0px 8px 30px rgba(255, 204, 0, 0.6);
    }
}

.btnBase--header {
    @include md-block {
        padding: 0;
        background: transparent;
    }

    svg {
        display: none;

        @include md-block {
            display: block;
            width: 24px;
            height: 24px;
            fill: #FFFFFF;
        }
    }

    p {
        @include md-block {
            display: none;
        }
    }
}

.btnBase__header {
    position: absolute;
    top: 67px;
    right: 70px;

    @include llg-block {
        top: 170px;
        right: 30px;
    }

    @include md-block {
        position: static;
    }
}

.btnBase--downHeader {
    @include xs-block {
        padding: 14px 30px;
        margin-top: 20px;
    }

    p {
        @include xs-block {
            font-size: 3.7vw;
        }
    }
}

.btnVideo__wrapper {
    position: absolute;
    top: 350px;
    right: 140px;
    background: transparent;
    border: none;
    cursor: pointer;

    @include md-block {
        right: 16px;
    }

    @include sm-block {
        top: 28%;
        right: 50%;
        transform: translateX(50%);
    }

    @include xs-block {
        top: 162px;
    }

    &:focus {
        outline: none;
    }

    .btnVideo__ellipse1,
    .btnVideo__ellipse2,
    .btnVideo__ellipse3 {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 50%;
    }

    .btnVideo__ellipse1 {
        width: 19.84vw;
        height: 19.84vw;

        @include xs-block {
            width: 155px;
            height: 155px;
        }

        .btnVideo__ellipse2 {
            width: 16.88vw;
            height: 16.88vw;

            @include xs-block {
                width: 132px;
                height: 132px;
            }

            .btnVideo__ellipse3 {
                width: 14.1vw;
                height: 14.1vw;

                @include xs-block {
                    width: 110px;
                    height: 110px;
                }
            }
        }
    }
}

.btnVideo {
    padding: 0;

    &--play,
    &--stop {
        width: 5.2vw;
        height: 4.8vw;

        @include xs-block {
            width: 40px;
            height: 40px;
        }
    }

    &--play {
        fill: #FFCC00;
    }

    &--stop {
        fill: rgba(0, 0, 0, .65);
    }
}

.btnVideo__wrapper:hover .btnVideo__ellipse1,
.btnVideo__wrapper:hover .btnVideo__ellipse2,
.btnVideo__wrapper:hover .btnVideo__ellipse3 {
    box-shadow: 0px 8px 30px #FFFFFF;
}


.header__items {
    @include row-flex();
    justify-content: space-between;
    margin-top: 184px;

    @include sm-block {
        display: none;
    }

    .header__item {
        @include col();
        @include size(3);
        max-width: 228px;

        @include llg-block {
            max-width: none;
        }

        &>span {
            margin-bottom: 11px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: 0.1em;
            color: #FFCC00;
            text-shadow: 0px 8px 30px rgba(255, 204, 0, 0.6);
        }

        p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;

            @include md-block {
                font-size: 14px;
            }

            span {
                font-weight: 600;
            }
        }
    }
}


/*============================================= */


/*=============================================
        ОСНОВНОЙ КОНТЕНТ
============================================= */

/*---------------------------------------------
  Секция mostly
--------------------------------------------- */
.mostly {
    position: relative;
    padding-top: 120px;
    padding-bottom: 126px;
    overflow: hidden;

    @include lg-block {
        padding-top: 70px;
        padding-bottom: 46px;
    }

    @include sm-block {
        text-align: center;
        padding-top: 83px;
    }

    @include xxs-block {
        text-align: left;
        padding-bottom: 103px;
    }
}

.rest {
    position: absolute;
    top: -135px;
    left: 0;
    z-index: -1;
    transform: rotate(-45deg);

    @include xs-block {
        top: -25px;
    }

    .restYellow {
        width: 684px;
        height: 34px;
        margin-left: -250px;
        background: #FFCC00;

        @include xs-block {
            width: 206px;
            height: 10px;
            margin-left: -130px;
        }
    }

    .restBlue {
        width: 684px;
        height: 90px;
        margin-top: 10px;
        margin-left: -400px;
        background: #2098D5;

        @include xs-block {
            width: 206px;
            height: 39px;
            margin-left: -73px;
        }
    }
}

.mostly__content {
    display: flex;

    @include sm-block {
        flex-direction: column;
        align-items: center;
    }

    @include xxs-block {
        align-items: flex-start;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .mostly__block1 {
        width: 37%;

        @include sm-block {
            width: 80%;
        }

        @include xs-block {
            width: 100%;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 62px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 2.5vw;
            line-height: 130%;
            color: #000000;

            @include md-block {
                font-size: 25px;
            }

            @include lg-block {
                font-size: 28px;
            }

            @include xs-block {
                font-weight: 600;
            }

            @include xxs-block {
                text-align: center;
            }
        }

        span {
            font-weight: 600;
        }

        img {
            @include sm-block {
                display: none;
            }
        }

        p {
            margin-top: 45px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 170%;
            color: #000000;

            @include md-block {
                font-size: 14px;
            }

            @include sm-block {
                display: none;
            }

        }
    }

    .mostly__block2 {
        width: 57%;
        margin-left: 6%;

        @include sm-block {
            width: 80%;
            margin-left: 0;
        }

        @include xs-block {
            width: 100%;
        }

        &>p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 190%;
            color: #000000;

            @include llg-block {
                font-size: 16px;
            }

            @include md-block {
                font-size: 14px;
            }

            @include sm-block {
                font-size: 16px;
            }

            @include xs-block {
                margin-bottom: 29px;
                font-size: 14px;
            }
        }

        &>p:nth-child(2) {
            margin-top: 40px;
            margin-bottom: 32px;

            @include lg-block {
                margin-top: 20px;
                margin-bottom: 15px;
            }

            @include sm-block {
                margin-bottom: 30px;
            }

            @include xs-block {
                display: none;
            }
        }

        .btnBase--mostly {
            p {
                @include xxs-block {
                    font-size: 14px;
                }
            }
        }

        &>p:nth-child(6) {
            display: none;

            @include sm-block {
                display: block;
                margin-top: 20px;
            }
        }

        &>img:nth-child(5) {
            display: none;

            @include sm-block {
                display: block;
                margin-top: 48px;
                margin-bottom: 51px;
            }
        }

        img {
            margin-top: 83px;

            @include lg-block {
                margin-top: 33px;
            }

            @include sm-block {
                display: none;
            }
        }
    }
}


.rest2 {
    position: absolute;
    bottom: -135px;
    right: 0;
    z-index: -1;
    transform: rotate(-45deg);

    @include sm-block {
        display: none;
    }

    .restYellow2 {
        width: 703px;
        height: 126px;
        margin-top: 10px;
        margin-right: -250px;
        background: #FFCC00;
    }

    .restBlue2 {
        width: 684px;
        height: 19px;
        margin-right: -400px;
        background: #2098D5;
    }
}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция indicators
--------------------------------------------- */
.indicators {
    padding: 59px 0;
    background: #2098D5;

    @include xxs-block {
        padding-top: 44px;
        padding-bottom: 37px;
    }

    h3 {
        width: 20%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        color: #FFFFFF;

        @include llg-block {
            font-size: 30px;
        }

        @include md-block {
            width: 16%;
            font-size: 21px;
        }

        @include sm-block {
            width: 75%;
            text-align: center;
            font-size: 36px;
        }

        @include xxs-block {
            width: 80%;
            font-size: 28px;
        }
    }

    .indicators__content {
        @include row-flex();
        align-items: center;

        @include sm-block {
            flex-direction: column;
            justify-content: center;
        }

        .indicators__item {
            @include col();
            width: 23%;
            display: flex;
            align-items: center;

            @include lg-block {
                flex-direction: column;
                justify-content: center;
            }

            @include sm-block {
                width: 75%;
                text-align: center;
            }


            span {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 5vw;
                line-height: 130%;
                color: #FFFFFF;

                @include llg-block {
                    font-size: 60px;
                }

                @include sm-block {
                    font-size: 75px;
                }

                @include xxs-block {
                    font-size: 72px;
                }
            }

            p {
                margin-left: 10px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 150%;
                color: #FFFFFF;

                @include llg-block {
                    font-size: 15px;
                }

                @include lg-block {
                    margin: 0;
                    font-size: 14px;
                }

                @include sm-block {
                    margin-bottom: 20px;
                    font-size: 18px;
                }

                @include xxs-block {
                    font-size: 16px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция map
--------------------------------------------- */
.map {
    position: relative;
    width: 100%;

    @include sm-block {
        display: none;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%)
    }

    h2 {
        margin: 0;
        padding-top: 86px;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2.5vw;
        line-height: 120%;
        color: #FFFFFF;

        @include llg-block {
            padding-top: 35px;
        }

        @include md-block {
            font-size: 28px;
        }

        span {
            font-weight: 600;
        }
    }

    p {
        width: 888px;
        margin: 0 auto;
        margin-top: 27px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2vw;
        line-height: 160%;
        text-align: center;
        color: #FFFFFF;

        @include llg-block {
            margin-top: 13px;
            font-size: 16px;
        }

        @include md-block {
            width: 750px;
            padding: 0 20px;
        }
    }
}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция program
--------------------------------------------- */
.program {
    position: relative;
    padding: 40px 87px 94px 87px;
    overflow: hidden;

    @include md-block {
        padding: 40px 47px 94px 47px;
    }

    @include xxs-block {
        padding: 40px 0px 94px 0px;
        text-align: center;
    }

    &>h2 {
        @include lg-block {
            font-size: 28px;
        }

        @include md-block {
            font-size: 25px;
        }

        @include xs-block {
            font-weight: 600;
        }

        @include xxs-block {
            font-size: 28px;
            margin-bottom: 85px;
            padding: 0 40px;
        }
    }

    &>p {
        max-width: 906px;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 64px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;
        text-align: center;
        color: #000000;

        @include lg-block {
            font-size: 20px;
        }

        @include md-block {
            font-size: 18px;
        }

        @include xxs-block {
            display: none;
        }
    }

    .btnBase {
        display: none;

        @include xs-block {
            display: block;            
        }
        @include xxs-block {  
            margin: 0 auto;
            margin-top: 26px;
            padding: 14px 20px;

            p {
                font-size: 14px;
            }
        }
    }
}

.rest3 {
    position: absolute;
    top: -135px;
    left: 0;
    z-index: -1;
    transform: rotate(-45deg);


    .restYellow3 {
        width: 684px;
        height: 8px;
        margin-left: -250px;
        background: #FFCC00;

        @include sm-block {
            height: 6px;
        }
    }

    .restYellow4 {
        width: 684px;
        height: 83px;
        margin-top: 10px;
        margin-left: -250px;
        background: #FFCC00;

        @include sm-block {
            height: 45px;
            margin-top: 5px;
        }
    }

    .restBlue3 {
        width: 684px;
        height: 7px;
        margin-top: 10px;
        margin-left: -400px;
        background: #2098D5;

        @include sm-block {
            height: 5px;
            margin-top: 5px;
        }
    }
}

.titleSection {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    line-height: 120%;
    text-align: center;

    span {
        font-weight: 600;
    }
}

.program__content {
    @include row-flex();
    justify-content: space-around;

    @include md-block {
        justify-content: center;
    }
}

.program__content .programItem:last-child {
    @include xxs-block {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
}

.programItem {
    @include col();
    @include size(3);

    @include size-lg(4);
    @include size-md(6);
    @include size-xs(12);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    padding: 61px 40px 87px 40px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 2px 6px 44px rgba(0, 0, 0, 0.07);
    border-radius: 12px;

    @include llg-block {
        padding: 30px 10px;
    }

    @include lg-block {
        padding: 50px 10px;
    }

    @include md-block {
        width: 40%;
    }

    @include sm-block {
        width: 44%;
    }

    @include xs-block {
        max-width: 300px;
        width: 90%;
    }

    @include xxs-block {
        max-width: 390px;
        width: 100%;
        margin-bottom: 0;
        padding: 23px 6px 23px 36px;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: none;
        border-radius: 0px;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    svg {
        width: 75px;
        height: 63px;
        fill: #2098D5;

        @include xxs-block {
            width: 38px;
            height: 34px;
        }
    }

    h4 {
        margin-top: 30px;
        margin-bottom: 23px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 130%;
        color: #000000;

        @include llg-block {
            font-size: 16px;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        @include md-block {
            font-size: 20px;
        }

        @include xxs-block {
            margin-left: 22px;
            font-size: 16px;
        }
    }

    p {
        margin-bottom: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 170%;
        color: #000000;

        @include llg-block {
            font-size: 13px;
            margin-bottom: 15px;
        }

        @include md-block {
            font-size: 15px;
        }

        @include xxs-block {
            display: none;
        }
    }

    .programItem__quote {
        position: relative;
        margin-top: auto;
        background: #FAFAFA;
        border-radius: 12px;


        &::before {
            position: absolute;
            content: '';
            left: 17px;
            bottom: -14px;
            border-left: 11px solid #FAFAFA;
            border-right: 11px solid #FAFAFA;
            border-top: 16px solid #EDEDED;

            @include llg-block {
                bottom: -8px;
                border-left: 7px solid #FAFAFA;
                border-right: 7px solid #FAFAFA;
                border-top: 9px solid #EDEDED;
            }

            @include xxs-block {
                display: none;
            }
        }

        blockquote {
            margin: 15px;
            padding: 15px 0;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 160%;

            @include xxs-block {
                display: none;
            }
        }
    }

    .dataQuote__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 15px;

        @include xxs-block {
            display: none;
        }

        .dataQuote__fio {
            padding-left: 10px;
        }

        h6 {
            margin: 0;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #000000;

            @include llg-block {
                font-size: 14px;
            }
        }

        span {
            display: block;
            margin: 0;
            padding: 0;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 130%;
            color: #000000;
        }
    }

    .btnBase {
        display: none;
    }
}

.programItem--button {
    margin-top: -50px;    

    .programItem__quote {
        margin-top: 10px;
    }

    .dataQuote__wrapper {
        margin-bottom: 15px;
    }

    .btnBase {
        display: block;
        width: 100%;
    }
}

.programItem .btnBase--program {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 0 0 12px 12px;

    @include xs-block {
        display: none;
    }

    P {
        margin-bottom: 0;
        ;
        font-weight: 600;
        line-height: 1.3;
    }
}

.rest4 {
    position: absolute;
    bottom: -30px;
    right: 0;
    z-index: -1;
    transform: rotate(-45deg);

    @include sm-block {
        display: none;
    }

    .restYellow5 {
        width: 684px;
        height: 17px;
        margin-right: -250px;
        background: #FFCC00;
    }

    .restBlue4 {
        width: 684px;
        height: 83px;
        margin-top: 20px;
        margin-right: -400px;
        background: #2098D5;
    }

    .restYellow6 {
        width: 684px;
        height: 10px;
        margin-top: 10px;
        margin-right: -250px;
        background: #FFCC00;
    }
}


/*----------------------------------------------*/
/*============================================= */


/*=============================================
        ПОДВАЛ
============================================= */



/*============================================= */


/*=============================================
        АДАПТИВ
============================================= */

@import '_media.scss';